:root
{
  --primary-color: #bf5027;
  /* Orange */
  --secondary-color: #f1f1f1;
  /* Light Gray */
  --headerText-color: #ffffff;
  /* White */
  --footer-color: #343a40;
  /* Dark Gray */
  --footer-text-color: #f1f1f1;
  /* White */
  --text-color: #333;
  /* Dark Gray */
  --font-family: "Tajawal", Helvetica, Arial, sans-serif;
}

html
{
  scroll-behavior: smooth;
}

body
{
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-color
{
  background-color: var(--primary-color) !important;
}

.navbar-color.scrolled
{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: black !important;
}

body > nav > div > button
{
  border-color: var(--headerText-color) !important;
}

#navbarSupportedContent
{
  flex-grow: 0 !important;
}

@media (max-width: 991.98px)
{

  .login-btn,
  .logged-in-user,
  .signout-btn
  {
    display: none !important;
  }

  .contact-us-form,
  .cuFeedback,
  .registerForm
  {
    width: 100% !important;
  }
}

@media (min-width: 992px)
{

  .login-btn-mobile,
  .logged-in-user-mobile,
  .signout-btn-mobile
  {
    display: none !important;
  }

  .contact-us-form,
  .cuFeedback
  {
    width: 50% !important;
  }

  .registerForm
  {
    width: 30% !important;
  }
}

#navbarSupportedContent > ul > li > a
{
  color: var(--headerText-color) !important;
}

.to-top
{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: var(--primary-color);
  color: var(--headerText-color);
  border: none;
  border-radius: 6px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0);
}

.to-top:hover
{
  bottom: 35px;
}

.to-top.show
{
  transform: scale(1);
}

.product-image
{
  max-height: 400px;
  object-fit: cover;
}

.thumbnail
{
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.thumbnail:hover,
.thumbnail.active
{
  opacity: 1;
}

#footer-placeholder
{
  background-color: var(--footer-color);
  color: var(--footer-text-color);
}

.social-icons a
{
  font-size: 1.25rem;
}

.logged-in-user,
.logged-in-user-mobile
{
  color: var(--headerText-color);
}

.logged-in-user-mobile,
.signout-btn-mobile
{
  padding: .5rem 0 .5rem 0;
}